/* #region General */

html
{
    background: red;
    cursor: crosshair;
}
button
{
    cursor: crosshair;
}
.content
{    
    width:95.5%;
    height: 50%;
    margin: 0 auto;
    padding: 2em;
    background-image: linear-gradient(to bottom, transparent, #1c1f2b 60%);
    text-align: center;
    border-radius: 10px;
    position: relative;
    top: 0;
    left: 0;
}
.content::after
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 60%, white);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 10px;
}

/* #endregion */

/* #region Properties */

@property --angle
{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@property --angle
{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin
{
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}
@keyframes bounce
{
    50%{
        transform: translate(0px, 15px)
    }
    100%{
        transform: translate(0px, 0px)
    }
}
@keyframes slide
{
    0%   { transform: perspective(1500px) rotateX(-5deg) rotateY(0deg); }
    100% { transform: perspective(1500px) rotateX(-5deg) rotateY(360deg); }
}

/* #endregion */

/* #region TopButtons */

.Top
{
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 2em;
    width: 95.75%;
    background-image: linear-gradient(to bottom, Black 60%, red);
    text-align: center;
    border-radius: 10px;
    position: relative;
    color: white;
}
.Top::after, .Top::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),transparent 60%, blue);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    border-radius: 10px;
    animation: spin 3s linear infinite;
}
.Top::before
{
    filter: blur(2em);
}
.top-image
{
    margin: 0 auto;
    width: 50px;
    height: auto;
    text-align: center;
    border-radius: 1000000px;
    position: absolute;
    background-color: white;
    left: 20px;
    top: 17.5px;
    z-index: 10;
    animation: bounce 2s infinite;
}

.styled
{
    margin: 0 auto;
    width: 75px;
    height: 20px;
    background-image: linear-gradient(to bottom, Black 60%, #1c1f2b);
    text-align: center;
    border-radius: 10px;
    position: relative;
    color: white;
    left: -600px;
    margin-left: 150px;
}
.Home
{
    margin: 0 auto;
    width: 75px;
    height: 20px;
    background-image: linear-gradient(to bottom, Black 60%, #1c1f2b);
    text-align: center;
    border-radius: 10px;
    position: relative;
    color: white;
    left: -550px;
}
.Login
{
    margin: 0 auto;
    width: 75px;
    height: 20px;
    background-image: linear-gradient(to bottom, Black 60%, #1c1f2b);
    text-align: center;
    border-radius: 10px;
    position: relative;
    color: white;
    left: -450px;
}
.AdminButton
{
    margin: 0 auto;
    width: 105px;
    height: 20px;
    background-image: linear-gradient(to bottom, Black 60%, #1c1f2b);
    text-align: center;
    border-radius: 10px;
    position: relative;
    color: white;
    left: 600px;
}
.AboutUs
{
    margin: 0 auto;
    width: 75px;
    height: 20px;
    background-image: linear-gradient(to bottom, Black 60%, #1c1f2b);
    text-align: center;
    border-radius: 10px;
    position: relative;
    color: white;
    left: -500px;
}

/* #endregion */

/* #region index1 */

.card
{
    margin: 0 auto;
    padding: 25px;
    width: 300px;
    background: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    position: relative;
    color: white;
}

#map
{    
    width:60%;
    height:425px;
    margin: 0 auto;
    padding: 2em;
    background: #1c1f2b;
    text-align: center;
    border-radius: 1000000000000000px;
    position: relative;
    cursor: url(Griffith.png), auto;
}
#map.expand
{
    width: 2000px;
    height: 1000px;
    border-radius: 0%;
    padding: 0%;
    left: -300px;
    top: -150px;
    position: fixed;
    z-index: 3;
}

.Expand
{
    margin: 0 auto;
    width: 75px;
    height: 20px;
    background-image: linear-gradient(to bottom, Black 60%, #1c1f2b);
    text-align: center;
    border-radius: 10px;
    position: fixed;
    color: white;
    right: 30px;
    bottom: 40px;
    z-index: 500000000000000000000000000000;
}
.Expand.ex
{
    position: fixed;
    margin: 0 auto;
    width: 75px;
    height: 20px;
    background-image: linear-gradient(to bottom, Black 60%, #1c1f2b);
    text-align: center;
    border-radius: 10px;
    color: white;
    right: 30px;
    bottom: 40px;
    z-index: 500000000000000000000000000000;
}
.Expand:hover .inner
{
    opacity: 1;
}

.credits
{
    margin: 0 auto;
    padding: 25px;
    width: 300px;
    background: transparent;
    text-align: center;
    border-radius: 10px;
    position: static;
    color: white;
    top: 20px;
    z-index: 5;
}

/* #endregion */

/* #region AdminPage */

.AdminTable
{
    position: relative;
    left: 21%;
    width: 60%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
}

/*
Table scroll bar made following this post :
https://forum.alsacreations.com/topic-4-62439-1-TABLE--Scrollable-TBODY-and-fixed-THEAD-reloaded.html
*/

.AdminHead
{
    background-color: #e8e8e8;
    border: 1px solid black;
    display: block;
}
.AdminHead tr, .AdminHead th
{
    border: 1px solid black;
}
.AdminHead tr th:nth-child(1), .AdminHead tr th:nth-child(2), .AdminHead tr th:nth-child(3), .AdminHead tr th:nth-child(4), .AdminHead tr th:nth-child(5)
{
    width: 17em;
}

.AdminBody
{
    tr:hover {background-color: #D6EEEE;}
    display:block;
	height: 40em;
	overflow-y:scroll;
}
.AdminBody th, .AdminBody tr
{
    border: 1px solid black;
}
.AdminBody tr th:nth-child(1), .AdminBody tr th:nth-child(2), .AdminBody tr th:nth-child(3), .AdminBody tr th:nth-child(4), .AdminBody tr th:nth-child(5)
{
    width: 17em;
}

.AdminFormTable
{
    position: absolute;
    top:40px;
    left:90px;
    font-size: 25px;
}

/* #endregion */

/* #region AboutUsPage */

.box
{    
    width:95.5%;
    height: 50%;
    margin: 0 auto;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    border-radius: 10px;
    position: relative;
    top: 0;
    left: 0;
    margin: 10px;
}

.AboutUsTitre
{
    text-align: center;
    font-size: 48px;
    color: white;
    text-align: left;
    position: flex;
}
.AboutUsIntro
{
    text-align: center;
    font-size: 20px;
    color: white;
    width: 900px;
    position: flex;
    left: 25%;
    top: 10%;
    word-wrap: break-word;
    text-align: left;
}
.AboutUsQuestion
{
    text-align: center;
    font-size: 30px;
    color: white;
    position: flex;
    top: 15%;
    text-align: left;
}
.AboutUsDef
{
    text-align: center;
    font-size: 20px;
    color: white;
    position: flex;
    width: 900px;
    left: 25%;
    top: 15%;
    word-wrap: break-word;
    text-align: left;
}
.AboutUsVsaTitre
{
    text-align: center;
    font-size: 30px;
    color: white;
}
.AboutUsVideo
{
    left: 27.5%;
    display: relative
}

/* #endregion */

/* #region LoginPage */
.LoginTitre
{
    color: white;
    text-align: center;
    font-size: 40px;
}
.LoginFormulaire
{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 30px;
}
.LoginFormulaire input {
  margin-bottom: 10px;
}

.boutonL
{
    position: relative;
    top: 200px;
}
.boutonC
{
    position: relative;
    top: 450px;
}

.Note
{
    color: white;
    font-size: 25px;
}

/* #endregion */

/* #region App1 */

.pop
{
    background-image: linear-gradient(red, #1c1f2b);
    z-index: -1;
}
.pop_text
{
    color: white;
    background-color: transparent;
    position: relative;
}
.pop::after, .pop::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),transparent 60%, blue);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    border-radius: 10px;
    animation: spin 3s linear infinite;
}
.pop::before
{
    filter: blur(2em);
}

/* #endregion */

/* #region EnjeuxPage */

.slider
{
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 100px;
}

/* Echec dans le maintien fixe de l'axe de rotation des videos. */

.slider .slider3D
{
    position: relative;
    transform-style: preserve-3d;
    background-color: black;
    transform: perspective(1000px);
    animation: slide  20s linear infinite;
    transform: translate(-50%, -50%); /* centre fixe */
}
.slider .slider3D video
{
    width: 400px;
    height: 225px;
    object-fit: cover;
    transform-style: preserve-3d;
    position: absolute;
    transform: 
        rotateY(calc((360deg / var(--number)) * var(--position))) /* angle sur le cercle */
        translateZ(1000px);                                       /* distance du centre */ /* 400 / 1000 */
    backface-visibility: visible;
    border-radius: 20px;
}

.contentE
{    
    width:95.5%;
    height: 77vh;
    margin: 0 auto;
    padding: 2em;
    background-image: linear-gradient(to bottom, transparent, #1c1f2b 60%);
    text-align: center;
    border-radius: 10px;
    position: relative;
    top: 0;
    left: 0;
}
.contentE::after
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 60%, white);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 10px;
}

/* #endregion */

/* What follows is some cursed programming techniques */

.Griffith img
{
    padding-top: 20px;
    height: 500px;
    width: auto;
    padding-bottom: 55px;
}

.leaflet-popup-close-button
{
    color: blue !important;
}

.leaflet-popup-content-wrapper
{
    background-image: linear-gradient(red, #1c1f2b);
}

.login
{
    box-shadow: 0px 0px 200px #1c1f2b;
    height: 530px;
}

table
{
    position: relative;
    margin: auto;
}

.G_
{
    position: relative;
    top: 500px;
}